* {
	margin: 0;
	padding:0;
}

.container {
	width: 100%;
	float:left;
	position: relative;
}

.applebar {
	top:0;
	left:0;
	float: left;
	z-index: 200;
	display: block;
	position: fixed;
}

.video { 
	z-index: -1000;
	float: left;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
}

.sparkbar {
	padding: 13px 40px 10px 40px;
	width: 100%;
	bottom: 0;
	left:0;
	position: fixed;
	background-color: #000;
	z-index: 200;
	display: block;
}

.sidebar {
	right: 0;
	top: 80px;
	position: absolute;
	width: 100px;
	height: 500px;
	z-index: 100;
	display: block;
	line-height: 50px;
	margin: 0 70px 0 0;
}

.sidebar img {
	width: 150px;
	height: 150px;
}

/*.sidebar2 {
	right: 0;
	position: absolute;
	width: 90px;
	height: 5000px;
	z-index: 90;
	background-color: blue;
	display: block;
}*/

/* BUTTONS = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.b1 img, .b2 img, .b3 img { 
	width: 40px;
	height: 40px;
	display: block;
}

.b1 {
	float: left;
}

.b2 {
	float: left;
	margin-left: 450px;
}

.b3 {
	float: left;
	margin-left: 469px;
}
