* {
	margin: 0;
	padding: 0;
}

body {
	color: #7f7f7f;
	text-decoration: none;
	font-size: 12px;
	font-family: helvetica, sans-serif;
	line-height: 20px;
}

a, a:visited, a:active {
	color: #7f7f7f;
	text-decoration: none;
	font-size: 12px;
	font-family: helvetica, sans-serif;
}

a:hover {
	color: #b6e36c;
	font-weight: bold;
}

#logo {
	display: block;
	z-index: 1;
	margin: 10% 0 0 17%;
}

#text {
	width: 198px;
	height: 90px;
	display: inline-block;
	z-index: 1;
	margin: 80px 0 0 17%;
	
}

#about {
	width: 400px;
	height: 500px;
	display: block;
	z-index: 1;
	margin: 10px 0 0 34%;
	position: fixed;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -9999;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}