* {
	margin: 0;
	padding:0;
}

body {
	background: url('img/superblur.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.container {
	width: 100%;
	left: 50%;
	margin: 5% 0 0 30%;
}

.ring img {
	position: fixed;
	width: 40%;
}

.menu {
	width: 45%;
	display: block;
	margin: 0 0 0 -2.5%;
}

.menu img {
	width: 100%;
	margin: -375px 0 375px 0;
	float:left;
	display: block;
}